/****************/
/* Font Imports */
/****************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap');

/*****************/
/* Sticky Header */
/*****************/

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(48, 48, 48);
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(1, 1, 1, 0.35);
  z-index: 5;
}

.header-title {
  font-size: 3.2em;
  /* -webkit-text-stroke: 1px white; */
  letter-spacing: .06em;
  color: rgb(164, 0, 0);
  margin: 0 .55em;
  text-shadow: -1px -1px 0px rgb(255, 80, 80), 1px 1px 2px rgb(0, 0, 0);
}

.header-buttons {
  margin: 0 .75em;
  display: flex;
}

.header-buttons > * {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  white-space: nowrap;
  border-style: none;
  margin: 0 .5em;
  cursor: pointer;
}

.header-buttons > *:hover{
  color: rgb(229, 19, 0)
}

/*************/
/* Body Tags */
/*************/

body {
  background-color: rgb(52, 52, 52);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 0 1.5em;
  margin-top: 130px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

/*******************/
/* Show Containers */
/*******************/

.page-header {
  font-size: 3.25em;
  margin-bottom: .3em;
}

.sort-form {
  width: 300px;
  margin-bottom: 2em;
}

.sort-label {
  background-color: rgb(163, 4, 4);
  color: white;
  border-style: none;
  text-transform: uppercase;
}

.shows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-container {
  background-color: rgb(75, 75, 75);
  width: 100%;
  height: 135px;
  border-radius: .5em;
  margin-bottom: 1.2em;
  display: flex;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

.show-container > img {
  width: 25%;
  height: 135px;
  object-fit: cover;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  margin-right: 1.5em;
}

.show-info-container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-info-container-left > * {
  margin: .2em 0;
}

.show-info-container-left > h3 {
  font-size: 1.3em;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .15em;
  text-transform: uppercase;
  width: max-content;
  padding: .2em .65em .1em .65em;
  border: 2px solid white;
  border-radius: 1em;
}

.show-info-container-left > p {
  margin-left: .5em;
}

.show-info-container-right {
  text-align: right;
  margin-right: 1.75em;
}

.show-info-container-right > * {
  margin: .2em 0;
}

.show-info-container-right > h5 {
  font-size: 1em;
}

/************/
/* Add Form */
/************/

.add-submit-button {
  background-color: rgb(156, 0, 0);
  color: white;
  padding: .25em .65em;
  border-radius: .25em;
  border-style: none;
  margin-top: .75em;
  text-transform: uppercase;
}

.add-submit-button:hover {
  background-color: rgb(128, 0, 0);
}

/***************/
/* Update Form */
/***************/

.modify-buttons-container {
  background-color: rgb(91, 91, 91);
  width: 10%;
  height: 100%;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modify-buttons-container > button, .submit-button {
  background-color: rgb(190, 0, 0);
  border-style: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: .5em;
  border: 1px solid rgb(210, 0, 0);
  margin: .3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.modify-buttons-container > button:hover, .submit-button:hover {
  background-color: rgb(148, 0, 0);
  border: 1px solid rgb(170, 0, 0);
}

.edit-button {
  width: 25px;
  height: 25px;
  content: url("../public/icons/edit-icon.png");
}

.delete-button {
  width: 26px;
  height: 26px;
  content: url("../public/icons/delete-icon.png");
}

.back-button {
  width: 22px;
  height: 22px;
  content: url("../public/icons/back-icon.png");
}

.submit-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin: .3em 0;
}

.submit-button {
  margin: 0;
  position: absolute;
}

.submit-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  content: url("../public/icons/submit-icon.png");
  pointer-events: none;
}

.update-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-input {
  width: 27.5%;
  margin-top: 1em;
  margin-left: .5em;
  margin-right: 1.5em;
  align-self: flex-start;
}

.update-form > .show-info-container {
  width: 72.5%;
}

.update-form > .modify-buttons-container {
  width: 11.25%;
}