/*****************/
/* Sticky Header */
/*****************/

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(40, 40, 40);
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(1, 1, 1, 0.35);
  z-index: 1;
}

.header-title {
  margin-left: .75em;
}

.header-buttons {
  margin: 0 .75em;
  display: flex;
}

.header-buttons > * {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.2em;
  white-space: nowrap;
  border-style: none;
  margin: 0 .5em;
  cursor: pointer;
}

.header-buttons > *:hover{
  color: rgb(255, 21, 0)
}

/*************/
/* Body Tags */
/*************/

body {
  background-color: rgb(50, 50, 50);
  color: white
}

main {
  padding: 0 1.5em;
  margin-top: 130px;
}

/*******************/
/* Show Containers */
/*******************/

.page-header {
  font-size: 2.25em;
  margin-bottom: .85em;
}

.shows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-container {
  background-color: rgb(75, 75, 75);
  width: 100%;
  height: 125px;
  border-radius: .5em;
  margin-bottom: 1.2em;
  display: flex;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

.show-container > img {
  width: 25%;
  height: 125px;
  object-fit: cover;
  margin-right: 1.5em;
}

.show-info-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-info-container-left > * {
  margin: .2em 0;
}

.show-info-container-right {
  text-align: right;
  margin-right: 1.75em;
}

.show-info-container-right > * {
  margin: .2em 0;
}

.show-info-container-right > h5 {
  font-size: 1.05em;
}